USE [master]
GO
/****** Object:  Database [ACNH_DB]    Script Date: 2026/1/12 下午 10:55:01 ******/
CREATE DATABASE [ACNH_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ACNH_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2025\MSSQL\DATA\ACNH_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ACNH_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2025\MSSQL\DATA\ACNH_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACNH_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACNH_DB]
GO
/****** Object:  Table [dbo].[GiftCategory]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GiftCategoryName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_GiftCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_GiftCategory] UNIQUE NONCLUSTERED 
(
	[GiftCategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftInteractions]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftInteractions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentId] [int] NOT NULL,
	[GiftId] [int] NOT NULL,
	[InteractionTime] [datetime2](3) NOT NULL,
	[Reaction] [nvarchar](100) NULL,
	[AffectionDelta] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_GiftInteractions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gifts]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BaseValue] [int] NOT NULL,
	[ImagePath] [nvarchar](260) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Color] [nvarchar](20) NULL,
 CONSTRAINT [PK_Gifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personality]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Personality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Personality] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResidentFriendship]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentFriendship](
	[ResidentId] [int] NOT NULL,
	[Affection] [int] NOT NULL,
	[UpdatedTime] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ResidentFriendship] PRIMARY KEY CLUSTERED 
(
	[ResidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResidentGiftPreference]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentGiftPreference](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResidentId] [int] NOT NULL,
	[GiftId] [int] NOT NULL,
	[Delta] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ResidentGiftPreference] UNIQUE NONCLUSTERED 
(
	[ResidentId] ASC,
	[GiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Residents]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Residents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[PersonalityId] [int] NOT NULL,
	[Birthday] [date] NULL,
	[CatchPhrase] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](260) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Residents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Species]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Species] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Species_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/1/12 下午 10:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](32) NOT NULL,
	[PasswordSalt] [varbinary](16) NOT NULL,
	[Iterations] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiftInteractions] ADD  CONSTRAINT [DF_GiftInteractions_InteractionTime]  DEFAULT (sysdatetime()) FOR [InteractionTime]
GO
ALTER TABLE [dbo].[Gifts] ADD  CONSTRAINT [DF_Gifts_BaseValue]  DEFAULT ((0)) FOR [BaseValue]
GO
ALTER TABLE [dbo].[Gifts] ADD  CONSTRAINT [DF_Gifts_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ResidentFriendship] ADD  CONSTRAINT [DF_ResidentFriendship_UpdatedTime]  DEFAULT (sysdatetime()) FOR [UpdatedTime]
GO
ALTER TABLE [dbo].[ResidentGiftPreference] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Residents] ADD  CONSTRAINT [DF_Residents_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((100000)) FOR [Iterations]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GiftInteractions]  WITH CHECK ADD  CONSTRAINT [FK_GiftInteractions_Gifts] FOREIGN KEY([GiftId])
REFERENCES [dbo].[Gifts] ([Id])
GO
ALTER TABLE [dbo].[GiftInteractions] CHECK CONSTRAINT [FK_GiftInteractions_Gifts]
GO
ALTER TABLE [dbo].[GiftInteractions]  WITH CHECK ADD  CONSTRAINT [FK_GiftInteractions_Residents] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Residents] ([Id])
GO
ALTER TABLE [dbo].[GiftInteractions] CHECK CONSTRAINT [FK_GiftInteractions_Residents]
GO
ALTER TABLE [dbo].[Gifts]  WITH CHECK ADD  CONSTRAINT [FK_Gifts_GiftCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[GiftCategory] ([Id])
GO
ALTER TABLE [dbo].[Gifts] CHECK CONSTRAINT [FK_Gifts_GiftCategory]
GO
ALTER TABLE [dbo].[ResidentFriendship]  WITH CHECK ADD  CONSTRAINT [FK_ResidentFriendship_Residents] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Residents] ([Id])
GO
ALTER TABLE [dbo].[ResidentFriendship] CHECK CONSTRAINT [FK_ResidentFriendship_Residents]
GO
ALTER TABLE [dbo].[ResidentGiftPreference]  WITH CHECK ADD  CONSTRAINT [FK_ResidentGiftPreference_Gifts] FOREIGN KEY([GiftId])
REFERENCES [dbo].[Gifts] ([Id])
GO
ALTER TABLE [dbo].[ResidentGiftPreference] CHECK CONSTRAINT [FK_ResidentGiftPreference_Gifts]
GO
ALTER TABLE [dbo].[ResidentGiftPreference]  WITH CHECK ADD  CONSTRAINT [FK_ResidentGiftPreference_Residents] FOREIGN KEY([ResidentId])
REFERENCES [dbo].[Residents] ([Id])
GO
ALTER TABLE [dbo].[ResidentGiftPreference] CHECK CONSTRAINT [FK_ResidentGiftPreference_Residents]
GO
ALTER TABLE [dbo].[Residents]  WITH CHECK ADD  CONSTRAINT [FK_Residents_Personality] FOREIGN KEY([PersonalityId])
REFERENCES [dbo].[Personality] ([Id])
GO
ALTER TABLE [dbo].[Residents] CHECK CONSTRAINT [FK_Residents_Personality]
GO
USE [master]
GO
