<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!-- 在家 --><!--
		<add name="ACNH_DB_HOME"
			 connectionString="Data Source=.\sql2025;
                           Initial Catalog=ACNH_DB;
                           User ID=sa;
                           Password=Sa5!sa5!;
                           TrustServerCertificate=True;" />--><!--

		--><!-- 學校（先留著，之後回學校再確認） --><!--
		<add name="ACNH_DB_SCHOOL"
			 connectionString="Data Source=.\sql2025;
                           Initial Catalog=ACNH_DB;
                           User ID=sa5;
                           Password=sa5;
                           TrustServerCertificate=True;" />-->

		<!--實際使用 -->
		<add name="ACNH_DB"
			connectionString="Data Source=.\sql2025;Initial Catalog=ACNH_DB;Integrated Security=True;TrustServerCertificate=True;"
			providerName="Microsoft.Data.SqlClient" />


	</connectionStrings>
</configuration>
